Repository canonical/react-components, pull requests merged in 2020-06, with the labels that each got.

#152 Migrate Tabs component from maas-ui.
  src/components/Tabs/Tabs.js
  src/components/Tabs/Tabs.stories.mdx
  src/components/Tabs/Tabs.test.js
  src/components/Tabs/__snapshots__/Tabs.test.js.snap
  src/components/Tabs/index.js
Labels: Review: Code +1, Review: QA +1

#153 Migrate Tooltip component from maas-ui.
  package.json
  src/components/Tooltip/Tooltip.js
  src/components/Tooltip/Tooltip.stories.mdx
  src/components/Tooltip/Tooltip.test.js
  src/components/Tooltip/__snapshots__/Tooltip.test.js.snap
  src/components/Tooltip/index.js
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#157 Add basic structure of Search and Filter component
  src/components/SearchAndFilter/SearchAndFilter.js
  src/components/SearchAndFilter/SearchAndFilter.stories.mdx
  src/components/SearchAndFilter/SearchAndFilter.test.js
  src/components/SearchAndFilter/__snapshots__/SearchAndFilter.test.js.snap
  src/components/SearchAndFilter/index.js
Labels: Review: Code +1, Review: QA +1

#162 Add basic Chip pattern
  src/components/Chip/Chip.js
  src/components/Chip/Chip.scss
  src/components/Chip/Chip.stories.mdx
  src/components/Chip/Chip.test.js
  src/components/Chip/__snapshots__/Chip.test.js.snap
  src/index.scss
Labels: Review: Code +1, Review: QA +1

#165 Add Prettier ✨
  .prettierrc
  package.json
  yarn.lock
Labels: Review: Code +1

#164 Add lead-value chip
  src/components/Chip/Chip.js
  src/components/Chip/Chip.stories.mdx
  src/components/Chip/Chip.test.js
  src/components/Chip/__snapshots__/Chip.test.js.snap
Labels: Review: Code +1, Review: QA +1

#168 Prettify all files
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.stories.mdx
  src/components/Accordion/Accordion.test.js
  src/components/AccordionSection/AccordionSection.js
  src/components/AccordionSection/AccordionSection.test.js
  src/components/ActionButton/ActionButton.js
  src/components/ActionButton/ActionButton.scss
  src/components/ActionButton/ActionButton.test.js
  src/components/ArticlePagination/ArticlePagination.js
  src/components/Button/Button.js
  src/components/Card/Card.js
  src/components/Card/Card.stories.mdx
  src/components/Chip/Chip.test.js
  src/components/Code/Code.js
  src/components/Col/Col.js
  src/components/Field/Field.js
  src/components/Form/Form.js
  src/components/Form/Form.stories.mdx
  src/components/Input/Input.js
  src/components/Label/Label.js
  src/components/Link/Link.js
  src/components/List/List.js
  src/components/List/List.stories.mdx
  src/components/List/List.test.js
  src/components/Loader/Loader.js
  src/components/MainTable/MainTable.js
  src/components/MainTable/MainTable.stories.mdx
  src/components/MainTable/MainTable.test.js
  src/components/Modal/Modal.js
  src/components/Notification/Notification.js
  src/components/Pagination/Pagination.js
  src/components/PaginationButton/PaginationButton.js
  src/components/PaginationItem/PaginationItem.js
  src/components/Row/Row.js
  src/components/SearchBox/SearchBox.js
  src/components/Select/Select.js
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.test.js
  src/components/Spinner/Spinner.js
  src/components/Spinner/Spinner.test.js
  src/components/Strip/Strip.js
  src/components/Strip/Strip.test.js
  src/components/Table/Table.js
  src/components/TableCell/TableCell.js
  src/components/TableHeader/TableHeader.js
  src/components/TableRow/TableRow.js
  src/components/Tabs/Tabs.stories.mdx
  src/components/Tabs/Tabs.test.js
  src/components/Textarea/Textarea.js
  src/components/Tooltip/Tooltip.stories.mdx
Labels: Review: Code needed

#169 Add dismiss UI to chip
  src/components/Chip/Chip.js
  src/components/Chip/Chip.scss
  src/components/Chip/Chip.stories.mdx
  src/components/Chip/Chip.test.js
Labels: Review: Code +1, Review: QA +1
