Repository canonical/react-components, pull requests merged in 2020-09, with the labels that each got.

#265 doc: add sass-loader requirement
  README.md
Labels: Review: Code +1

#266 refactor: migrate table components to typescript
  src/components/Table/Table.js
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.test.tsx.snap
  src/components/Table/index.ts
  src/components/TableCell/TableCell.js
  src/components/TableCell/TableCell.test.tsx
  src/components/TableCell/TableCell.tsx
  src/components/TableCell/__snapshots__/TableCell.test.tsx.snap
  src/components/TableCell/index.ts
  src/components/TableHeader/TableHeader.js
  src/components/TableHeader/TableHeader.test.tsx
  src/components/TableHeader/TableHeader.tsx
  src/components/TableHeader/__snapshots__/TableHeader.test.tsx.snap
  src/components/TableHeader/index.ts
  src/components/TableRow/TableRow.js
  src/components/TableRow/TableRow.test.tsx
  src/components/TableRow/TableRow.tsx
  src/components/TableRow/__snapshots__/TableRow.test.tsx.snap
  src/components/TableRow/index.ts
Labels: Review: Code +1 (with changes), Review: Code needed, Review: QA +1, Review: QA needed

#200 Add search with pattern matching to search and filter
  src/components/Chip/Chip.js
  src/components/Chip/Chip.scss
  src/components/Chip/Chip.test.js
  src/components/Chip/__snapshots__/Chip.test.js.snap
  src/components/Input/Input.js
  src/components/Notification/Notification.js
  src/components/SearchAndFilter/FilterPanelSection/FilterPanelSection.js
  src/components/SearchAndFilter/FilterPanelSection/FilterPanelSection.test.js
  src/components/SearchAndFilter/FilterPanelSection/__snapshots__/FilterPanelSection.test.js.snap
  src/components/SearchAndFilter/FilterPanelSection/filter-panel-section.scss
  src/components/SearchAndFilter/SearchAndFilter.js
  src/components/SearchAndFilter/SearchAndFilter.scss
  src/components/SearchAndFilter/SearchAndFilter.stories.mdx
  src/components/SearchAndFilter/SearchAndFilter.test.js
  src/components/SearchAndFilter/__snapshots__/SearchAndFilter.test.js.snap
  src/components/SearchBox/SearchBox.js
  src/components/SearchBox/SearchBox.scss
  src/components/Select/Select.js
  src/components/Textarea/Textarea.js
  src/utils.js
  src/utils.test.js
Labels: Review: Code +1, Review: QA +1

#280 Add returnSearchData function to default story
  src/components/SearchAndFilter/SearchAndFilter.js
  src/components/SearchAndFilter/SearchAndFilter.stories.mdx
  src/components/SearchAndFilter/__snapshots__/SearchAndFilter.test.js.snap
Labels: Review: Code +1, Review: QA +1

#283 Scope searchbox amends to search and filter
  src/components/SearchAndFilter/SearchAndFilter.scss
  src/components/SearchBox/SearchBox.js
  src/components/SearchBox/SearchBox.scss
Labels: Review: Code +1, Review: QA +1

#286 Add missing row to navigation in search example
  src/components/SearchBox/SearchBox.stories.mdx
Labels: Review: Code +1, Review: QA +1

#287 Set the component name for SearchBox.
  src/components/SearchAndFilter/SearchAndFilter.test.js
  src/components/SearchAndFilter/__snapshots__/SearchAndFilter.test.js.snap
  src/components/SearchBox/SearchBox.js
  src/components/SearchBox/SearchBox.test.js
Labels: Review: Code +1

#297 Set the button type of the contextual menu so it doesn't submit forms
  src/components/ContextualMenu/ContextualMenu.tsx
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed
