Repository canonical/react-components, pull requests merged in 2020-03, with the labels that each got.

#75 SearchBox external state control
  .gitignore
  package.json
  src/components/SearchBox/SearchBox.js
  src/components/SearchBox/SearchBox.stories.mdx
  src/components/SearchBox/SearchBox.test.js
Labels: Review: Code +1, Review: QA +1

#77 Add percy github action config.
  .github/workflows/percy.yaml
Labels: Review: Code needed

#80 Add storybook-static to gitignore.
  .gitignore
Labels: Review: Code +1

#79 Fix warning about aria prop
  src/components/Accordion/Accordion.js
  src/components/Accordion/__snapshots__/Accordion.test.js.snap
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#84 Add initial cypress spec.
  HACKING.md
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/accordion.spec.js
  cypress/plugins/index.js
  cypress/screenshots/.keep
  cypress/support/commands.js
  cypress/support/index.js
  cypress/videos/.keep
  package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#90 Add Chrome headless badge to README
  README.md
Labels: Review: Code needed
