Repository canonical/react-components, pull requests merged in 2020-07, with the labels that each got.

#179 Setup project for TypeScript and migrate Tooltip component.
  .eslintrc.js
  package.json
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  src/components/Tooltip/index.ts
  src/index.ts
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#183 Babel build with tsc declarations
  .babelrc
  HACKING.md
  package.json
  tsconfig.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#184 Prepare 0.8.1 release
  CHANGELOG.md
  docs/asset-manifest.json
  docs/iframe.html
  docs/main.35a5a72b089e239c709e.bundle.js
  docs/main.35a5a72b089e239c709e.bundle.js.map
  docs/precache-manifest.5f26fdc8a1fc6a24eced0481ac9c6db3.js
  docs/runtime~main.35a5a72b089e239c709e.bundle.js
  docs/runtime~main.35a5a72b089e239c709e.bundle.js.map
  docs/service-worker.js
  docs/static/css/main.36af2298.chunk.css
  docs/static/css/main.36af2298.chunk.css.map
  docs/vendors~main.35a5a72b089e239c709e.bundle.js
  docs/vendors~main.35a5a72b089e239c709e.bundle.js.LICENSE.txt
  docs/vendors~main.35a5a72b089e239c709e.bundle.js.map
  package.json
Labels: Review: Code needed

#188 Fix storybook docs, and simplify/correct config.
  .storybook/main.js
  package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#187 Add chips to search bar
  src/components/Chip/Chip.js
  src/components/Chip/Chip.scss
  src/components/Chip/__snapshots__/Chip.test.js.snap
  src/components/SearchAndFilter/FilterPanelSection/FilterPanelSection.js
  src/components/SearchAndFilter/FilterPanelSection/__snapshots__/FilterPanelSection.test.js.snap
  src/components/SearchAndFilter/FilterPanelSection/filter-panel-section.scss
  src/components/SearchAndFilter/SearchAndFilter.js
  src/components/SearchAndFilter/SearchAndFilter.scss
  src/components/SearchAndFilter/SearchAndFilter.stories.mdx
  src/components/SearchAndFilter/SearchAndFilter.test.js
  src/components/SearchAndFilter/__snapshots__/SearchAndFilter.test.js.snap
  src/components/SearchAndFilter/shared.js
Labels: Review: Code +1 (with changes), Review: QA +1

#190 Add dockerfile and konf/site.yaml for demos
  Dockerfile
  konf/site.yaml
Labels: Review: Code +1

#192 Use main branch
  .github/workflows/cypress.yaml
  .github/workflows/percy.yaml
Labels: Review: Code needed

#197 Allow a node to be passed to field help
  src/components/Field/Field.js
  src/components/Field/Field.test.js
  src/components/Input/Input.js
  src/components/Select/Select.js
  src/components/Textarea/Textarea.js
Labels: Review: Code +1
