Repository canonical/react-components, pull requests merged in 2020-08, with the labels that each got.

#191 Migrate Accordion and AccordionSection to TypeScript
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  src/components/Accordion/index.ts
  src/components/AccordionSection/AccordionSection.test.tsx
  src/components/AccordionSection/AccordionSection.tsx
  src/components/AccordionSection/__snapshots__/AccordionSection.test.tsx.snap
  src/components/AccordionSection/index.js
  src/components/AccordionSection/index.ts
  src/types.ts
Labels: Review: Code +1, Review: QA +1

#198 Build Slider component.
  src/components/Slider/Slider.stories.mdx
  src/components/Slider/Slider.test.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/index.ts
  src/index.ts
Labels: Review: Code +1 (with changes), Review: QA +1

#205 chore: Add pull request template.
  .github/pull_request_template.md
Labels: Review: Code +1

#204 refactor: Migrate pagination to typescript.
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/components/Pagination/index.ts
  src/components/PaginationButton/PaginationButton.test.js
  src/components/PaginationButton/PaginationButton.tsx
  src/components/PaginationButton/__snapshots__/PaginationButton.test.js.snap
  src/components/PaginationButton/index.ts
  src/components/PaginationItem/PaginationItem.test.tsx
  src/components/PaginationItem/PaginationItem.tsx
  src/components/PaginationItem/__snapshots__/PaginationItem.test.tsx.snap
  src/components/PaginationItem/index.ts
Labels: Review: Code +1, Review: QA +1

#206 refactor: Migrate Spinner to TypeScript.
  src/components/Spinner/Spinner.test.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  src/components/Spinner/index.ts
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#237 Use cypress gh action v2
  .github/workflows/cypress.yaml
Labels: Review: Code +1

#236 Add labeler github action.
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: Review: Code +1

#238 Add github action test workflow.
  .circleci/config.yml
  .github/workflows/test.yaml
Labels: Review: Code +1

#239 Rename Percy CI job to Percy.
  .github/workflows/percy.yaml
Labels: Review: Code +1

#240 Fix cypress tests.
  .eslintrc.js
  cypress/integration/accordion.spec.js
  cypress/screenshots/.keep
  cypress/support/commands.js
  cypress/videos/.keep
  package.json
  yarn.lock
Labels: Maintenance 🔨, Review: Code +1

#242 Allow form elements to take focus
  CHANGELOG.md
  src/components/Input/Input.js
  src/components/Input/Input.test.js
  src/components/Select/Select.js
  src/components/Select/Select.test.js
  src/components/Textarea/Textarea.js
  src/components/Textarea/Textarea.test.js
Labels: Review: Code +1, Review: QA +1

#246 chore: update gitignore with cypress artifacts.
  .github/labeler.yml
  .gitignore
Labels: Maintenance 🔨, Review: Code needed

#249 Only install Cypress binary for the GH action
  .env
  .github/workflows/cypress.yaml
Labels: Review: Code +1

#248 Add dynamic controls
  src/components/Accordion/Accordion.stories.mdx
  src/components/ActionButton/ActionButton.stories.mdx
  src/components/ArticlePagination/ArticlePagination.stories.mdx
  src/components/Button/Button.stories.mdx
  src/components/Card/Card.stories.mdx
  src/components/Chip/Chip.stories.mdx
  src/components/Code/Code.stories.mdx
  src/components/Col/Col.stories.mdx
  src/components/ContextualMenu/ContextualMenu.stories.mdx
  src/components/Form/Form.stories.mdx
  src/components/Input/Input.stories.mdx
  src/components/Link/Link.stories.mdx
  src/components/List/List.stories.mdx
  src/components/MainTable/MainTable.stories.mdx
  src/components/Modal/Modal.stories.mdx
  src/components/Notification/Notification.stories.mdx
  src/components/Pagination/Pagination.stories.mdx
  src/components/Row/Row.stories.mdx
  src/components/SearchAndFilter/SearchAndFilter.stories.mdx
  src/components/SearchBox/SearchBox.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/Slider/Slider.stories.mdx
  src/components/Spinner/Spinner.stories.mdx
  src/components/Strip/Strip.stories.mdx
  src/components/Textarea/Textarea.stories.mdx
Labels: Review: Code +1, Review: QA +1
