Repository canonical/react-components, pull requests merged in 2020-10, with the labels that each got.

#298 Only pass Slider id prop to range input, not to number input.
  src/components/Slider/Slider.tsx
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#306 Fix u-hide override affecting expanding table headers
  src/components/ModularTable/ModularTable.scss
  src/components/ModularTable/ModularTable.tsx
Labels: Review: Code +1, Review: QA +1

#309 Revert "Fix u-hide override affecting expanding table headers"
  src/components/ModularTable/ModularTable.scss
  src/components/ModularTable/ModularTable.tsx
Labels: Review: Code needed, Review: QA needed

#316 Update Vanilla to 2.19.2, fix hiding table columns
  CHANGELOG.md
  package.json
  src/components/MainTable/MainTable.js
  src/components/MainTable/MainTable.test.js
  src/components/ModularTable/ModularTable.scss
  src/components/ModularTable/ModularTable.tsx
  src/index.scss
  yarn.lock
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1
