Repository canonical/react-components, pull requests merged in 2021-04, with the labels that each got.

#426 Update tooltip component to use new "is-detached" utility class
  CHANGELOG.md
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  yarn.lock
Labels: Review: Code +1 (with changes), Review: QA +1

#427 Add release drafter config
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: Maintenance 🔨, Review: Code +1

#428 Add automatic publish to npm workflow
  .github/workflows/publish-on-release.yml
  .github/workflows/test.yaml
Labels: Maintenance 🔨, Review: Code +1

#432 Add registry URL to release script
  .github/workflows/publish-on-release.yml
Labels: Maintenance 🔨, Review: Code +1

#433 Fix reference to a deprecated heading class name
  src/components/CodeSnippet/CodeSnippet.stories.mdx
Labels: Review: Code needed, Review: QA needed

#435 Update Code component to use CodeSnippet
  src/components/Code/Code.js
  src/components/Code/Code.stories.mdx
  src/components/Code/__snapshots__/Code.test.js.snap
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#434 Add `content` prop to CodeSnippetBlock
  src/components/CodeSnippet/CodeSnippet.stories.mdx
  src/components/CodeSnippet/CodeSnippet.test.tsx
  src/components/CodeSnippet/CodeSnippet.tsx
  src/components/CodeSnippet/CodeSnippetBlock.tsx
Labels: Feature 🎁, Review: Code +1, Review: QA +1

#436 Use chevrons instead of contextual menu icons
  src/components/Icon/Icon.stories.mdx
  src/components/Icon/Icon.tsx
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#438 Remove unnecessary p-slider class name
  src/components/Slider/Slider.tsx
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#437 Add inline stretch variant to the list
  src/components/List/List.js
  src/components/List/List.stories.mdx
  src/components/List/List.test.js
  src/components/List/__snapshots__/List.test.js.snap
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#441 Add Checkbox and Radio components
  src/components/CheckableInput/CheckableInput.test.tsx
  src/components/CheckableInput/CheckableInput.tsx
  src/components/CheckableInput/index.ts
  src/components/CheckboxInput/CheckboxInput.stories.mdx
  src/components/CheckboxInput/CheckboxInput.test.tsx
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/CheckboxInput/index.ts
  src/components/RadioInput/RadioInput.stories.mdx
  src/components/RadioInput/RadioInput.test.tsx
  src/components/RadioInput/RadioInput.tsx
  src/components/RadioInput/index.ts
Labels: Feature 🎁, Review: Code +1, Review: QA +1
