Repository canonical/react-components, pull requests merged in 2021-01, with the labels that each got.

#355 Improve docs for SearchAndFilter
  src/components/SearchAndFilter/SearchAndFilter.js
  src/components/SearchAndFilter/SearchAndFilter.stories.mdx
Labels: Review: Code +1, Review: QA +1

#369 Remove .p-summary__text scss
  src/components/SummaryButton/SummaryButton.scss
  src/components/SummaryButton/SummaryButton.tsx
  src/components/SummaryButton/__snapshots__/SummaryButton.test.tsx.snap
Labels: Review: Code +1, Review: QA +1

#370 Improve support for custom components as Tab links.
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/Tabs/index.ts
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#375 allow custom classNames for Icon component
  CHANGELOG.md
  src/components/Icon/Icon.test.tsx
  src/components/Icon/Icon.tsx
Labels: Review: Code +1, Review: QA needed
