Repository canonical/react-components, pull requests merged in 2021-12, with the labels that each got.

#668 Use renovate config from vanilla-framework
  renovate.json
Labels: Review: Code +1, Maintenance 🔨

#669 Update CircleCI docker image
  .circleci/config.yml
Labels: Review: Code needed

#671 Prevent password toggle component submitting form
  src/components/PasswordToggle/PasswordToggle.tsx
Labels: Bug 🐛, Review: QA +1, Review: Code +1 (with changes)

#672 Pass required to input element
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#673 Use new Percy CLI for Storybook
  .circleci/config.yml
  .percy.yml
  package.json
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨

#674 Update navigation example
  src/components/SearchBox/SearchBox.stories.mdx
Labels: Review: Code +1, Review: QA +1

#675 Update pagination button to use new icon
  src/components/PaginationButton/PaginationButton.tsx
Labels: Review: Code +1, Review: QA +1

#677 Remove external link
  src/components/Link/Link.stories.mdx
  src/components/Link/Link.test.tsx
  src/components/Link/Link.tsx
Labels: Review: Code +1, Review: QA +1

#676 Remove checkbox and radio input examples
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
Labels: Review: QA +1, Review: Code +1 (with changes)

#678 Remove specific node versions from package.json
  package.json
Labels: Review: Code +1, Maintenance 🔨

#680 Fix extra padding in search box nav example
  src/components/SearchBox/SearchBox.stories.mdx
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#681 Replace p-icon--contextual-menu on table
  src/components/ContextualMenu/ContextualMenu.tsx
Labels: Bug 🐛, Review: Code +1, Review: QA +1
