Repository canonical/react-components, pull requests merged in 2021-07, with the labels that each got.

#498 Allow overflowing content in table cells
  src/components/MainTable/MainTable.stories.mdx
  src/components/TableCell/TableCell.test.tsx
  src/components/TableCell/TableCell.tsx
Labels: Review: Code +1, Review: QA +1

#500 Spread HTML props to Icon component
  src/components/Icon/Icon.test.tsx
  src/components/Icon/Icon.tsx
Labels: Review: Code +1

#501 Migrate Card to typescript.
  src/components/Card/Card.test.tsx
  src/components/Card/Card.tsx
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Card/index.ts
Labels: Review: Code +1, Review: QA +1

#502 Show prop descriptions for typescript files
  src/components/Accordion/Accordion.tsx
  src/components/AccordionSection/AccordionSection.tsx
  src/components/CheckableInput/CheckableInput.tsx
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/CodeSnippet/CodeSnippetDropdown.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/Icon/Icon.tsx
  src/components/Modal/Modal.tsx
  src/components/Pagination/Pagination.tsx
  src/components/PaginationButton/PaginationButton.tsx
  src/components/PaginationItem/PaginationItem.tsx
  src/components/RadioInput/RadioInput.tsx
  src/components/Slider/Slider.tsx
  src/components/Spinner/Spinner.tsx
  src/components/SummaryButton/SummaryButton.tsx
  src/components/Table/Table.tsx
  src/components/TableCell/TableCell.tsx
  src/components/TableHeader/TableHeader.tsx
  src/components/TableRow/TableRow.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tooltip/Tooltip.tsx
Labels: Review: Code +1, Review: QA +1

#504 Migrate the article pagination component to typescript
  src/components/ArticlePagination/ArticlePagination.test.tsx
  src/components/ArticlePagination/ArticlePagination.tsx
  src/components/ArticlePagination/__snapshots__/ArticlePagination.test.tsx.snap
  src/components/ArticlePagination/index.ts
Labels: Review: Code +1, Review: QA +1

#510 Fix some syntax highlighting being unreadable
  .storybook/preview-head.html
Labels: Review: Code +1, Review: QA +1

#513 Bump version of Vanilla to 2.33.0-rc1 pre-release
  package.json
  yarn.lock
Labels: Maintenance 🔨

#514 Graceful highlight
  src/components/SearchAndFilter/FilterPanelSection/FilterPanelSection.js
  src/components/SearchAndFilter/FilterPanelSection/__snapshots__/FilterPanelSection.test.js.snap
  src/utils.js
  src/utils.test.js
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#516 Replace the cloud key in Chip component
  src/components/Chip/Chip.test.tsx
  src/components/Chip/Chip.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1

#517 Convert remaining form fields to TypeScript
  src/components/Field/Field.test.tsx
  src/components/Field/Field.tsx
  src/components/Field/__snapshots__/Field.test.tsx.snap
  src/components/Field/index.ts
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/index.ts
  src/components/Label/Label.js
  src/components/Label/Label.test.tsx
  src/components/Label/Label.tsx
  src/components/Label/__snapshots__/Label.test.tsx.snap
  src/components/Label/index.ts
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.test.tsx.snap
  src/components/Select/index.ts
Labels: Review: Code +1, Review: QA +1

#521 Convert Link to TypeScript
  src/components/Link/Link.test.tsx
  src/components/Link/Link.tsx
  src/components/Link/__snapshots__/Link.test.tsx.snap
  src/components/Link/index.ts
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#520 Migrate Form to TypeScript.
  src/components/Form/Form.js
  src/components/Form/Form.test.tsx
  src/components/Form/Form.tsx
  src/components/Form/__snapshots__/Form.test.tsx.snap
  src/components/Form/index.ts
Labels: Review: Code +1, Review: QA +1

#522 Migrated List to TypeScript
  src/components/List/List.js
  src/components/List/List.test.tsx
  src/components/List/List.tsx
  src/components/List/__snapshots__/List.test.tsx.snap
  src/components/List/index.ts
Labels: Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#524 Migrated Row to TypeScript
  src/components/Row/Row.test.tsx
  src/components/Row/Row.tsx
  src/components/Row/__snapshots__/Row.test.tsx.snap
  src/components/Row/index.ts
Labels: Review: Code +1, Review: QA +1

#525 Migrate Textarea to TypeScript
  src/components/Textarea/Textarea.stories.mdx
  src/components/Textarea/Textarea.test.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Textarea/__snapshots__/Textarea.test.tsx.snap
  src/components/Textarea/index.ts
Labels: Review: Code +1

#527 Migrate SearchBox to TypeScript
  src/components/SearchBox/SearchBox.test.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
  src/components/SearchBox/index.ts
Labels: Review: Code +1, Review: QA +1

#515 Update Notification component to latest structure
  package.json
  src/components/Button/index.ts
  src/components/Notification/Notification.js
  src/components/Notification/Notification.stories.mdx
  src/components/Notification/Notification.test.js
  src/components/Notification/Notification.test.tsx
  src/components/Notification/Notification.tsx
  src/components/Notification/__snapshots__/Notification.test.js.snap
  src/components/Notification/__snapshots__/Notification.test.tsx.snap
  src/components/Notification/index.js
  src/components/Notification/index.ts
  src/index.ts
  src/types/index.ts
Labels: Maintenance 🔨, Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#531 Generate prop types
  .babelrc
  package.json
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  src/components/AccordionSection/AccordionSection.tsx
  src/components/ActionButton/ActionButton.tsx
  src/components/ArticlePagination/ArticlePagination.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/CheckableInput/CheckableInput.tsx
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/Chip/Chip.tsx
  src/components/CodeSnippet/CodeSnippet.tsx
  src/components/CodeSnippet/CodeSnippetBlock.tsx
  src/components/CodeSnippet/CodeSnippetDropdown.tsx
  src/components/Col/Col.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
  src/components/Field/Field.tsx
  src/components/Form/Form.tsx
  src/components/Icon/Icon.tsx
  src/components/Input/Input.tsx
  src/components/Label/Label.tsx
  src/components/Link/Link.tsx
  src/components/List/List.tsx
  src/components/MainTable/MainTable.tsx
  src/components/Modal/Modal.tsx
  src/components/ModularTable/ModularTable.tsx
  src/components/Notification/Notification.tsx
  src/components/Pagination/Pagination.tsx
  src/components/PaginationButton/PaginationButton.tsx
  src/components/PaginationItem/PaginationItem.tsx
  src/components/RadioInput/RadioInput.tsx
  src/components/Row/Row.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/Select/Select.tsx
  src/components/Slider/Slider.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Strip/Strip.tsx
  src/components/SummaryButton/SummaryButton.tsx
  src/components/Table/Table.tsx
  src/components/TableCell/TableCell.tsx
  src/components/TableHeader/TableHeader.tsx
  src/components/TableRow/TableRow.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Tooltip/Tooltip.tsx
  yarn.lock
Labels: Maintenance 🔨, Review: Code +1, Review: Code needed, Review: QA +1, Review: QA needed

#533 ContextualMenu optional props
  src/components/ContextualMenu/ContextualMenu.test.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
  src/types/index.ts
Labels: Review: Code +1

#534 Update to using modern Jest fake timers
  src/components/ActionButton/ActionButton.test.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.test.tsx
  src/hooks/useThrottle.test.ts
Labels: Review: Code +1

#536 Turn of auto adding QA/code needed labels
  .github/labeler.yml
Labels: Review: Code +1

#542 Improve the MainTable types
  src/components/MainTable/MainTable.tsx
Labels: Review: Code needed

#552 Use consistent type for className prop
  src/components/Accordion/Accordion.tsx
  src/components/ActionButton/ActionButton.tsx
  src/components/ArticlePagination/ArticlePagination.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Code/Code.tsx
  src/components/CodeSnippet/CodeSnippet.tsx
  src/components/Col/Col.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/Field/Field.tsx
  src/components/Form/Form.tsx
  src/components/Icon/Icon.tsx
  src/components/Input/Input.tsx
  src/components/Label/Label.tsx
  src/components/Link/Link.tsx
  src/components/List/List.tsx
  src/components/MainTable/MainTable.tsx
  src/components/Notification/Notification.tsx
  src/components/Row/Row.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/Select/Select.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Strip/Strip.tsx
  src/components/SummaryButton/SummaryButton.tsx
  src/components/Table/Table.tsx
  src/components/TableCell/TableCell.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Tooltip/Tooltip.tsx
  src/types/index.ts
Labels: Review: Code needed

#555 Fix instances of prop spreading causing incorrect intersection types
  src/components/ActionButton/ActionButton.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/CheckableInput/CheckableInput.tsx
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
  src/components/Input/Input.tsx
  src/components/Notification/Notification.tsx
  src/components/RadioInput/RadioInput.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/Select/Select.tsx
  src/components/Slider/Slider.tsx
  src/components/Strip/Strip.tsx
Labels: Review: Code needed

#554 Export types from the index
  src/components/Accordion/index.ts
  src/components/ActionButton/index.ts
  src/components/ArticlePagination/index.ts
  src/components/Button/index.ts
  src/components/Card/index.ts
  src/components/CheckableInput/index.ts
  src/components/CheckboxInput/index.ts
  src/components/Chip/index.ts
  src/components/Code/index.ts
  src/components/CodeSnippet/CodeSnippet.tsx
  src/components/CodeSnippet/CodeSnippetBlock.tsx
  src/components/CodeSnippet/CodeSnippetDropdown.tsx
  src/components/CodeSnippet/index.ts
  src/components/Col/index.ts
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/index.ts
  src/components/ContextualMenu/index.ts
  src/components/Field/index.ts
  src/components/Form/index.ts
  src/components/Icon/index.ts
  src/components/Input/index.ts
  src/components/Label/index.ts
  src/components/Link/index.ts
  src/components/List/index.ts
  src/components/Loader/Loader.tsx
  src/components/MainTable/MainTable.tsx
  src/components/MainTable/index.ts
  src/components/Modal/index.ts
  src/components/ModularTable/index.ts
  src/components/Notification/index.ts
  src/components/Pagination/index.ts
  src/components/PaginationButton/index.ts
  src/components/PaginationItem/index.ts
  src/components/RadioInput/index.ts
  src/components/Row/Row.tsx
  src/components/Row/index.ts
  src/components/SearchAndFilter/index.ts
  src/components/SearchBox/index.ts
  src/components/Select/index.ts
  src/components/Slider/index.ts
  src/components/Spinner/index.ts
  src/components/Strip/index.ts
  src/components/SummaryButton/index.ts
  src/components/Table/index.ts
  src/components/TableCell/index.ts
  src/components/TableHeader/index.ts
  src/components/TableRow/index.ts
  src/components/Tabs/index.ts
  src/components/Textarea/index.ts
  src/components/Tooltip/index.ts
  src/index.ts
  src/types/index.ts
Labels: Review: Code needed

#557 Set up absolute imports
  .babelrc
  package.json
  src/components/Accordion/Accordion.tsx
  src/index.ts
  tsconfig.json
  yarn.lock
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#558 Fix more TypeScript bugs
  src/components/ActionButton/ActionButton.tsx
  src/components/ActionButton/__snapshots__/ActionButton.test.tsx.snap
  src/components/Form/Form.tsx
  src/components/List/List.tsx
  src/components/Notification/Notification.tsx
Labels: Review: Code +1

#559 Add generic type for spreading props
  src/components/Accordion/Accordion.tsx
  src/components/ActionButton/ActionButton.tsx
  src/components/ArticlePagination/ArticlePagination.tsx
  src/components/Card/Card.tsx
  src/components/CheckableInput/CheckableInput.tsx
  src/components/Col/Col.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/Form/Form.tsx
  src/components/Icon/Icon.tsx
  src/components/Input/Input.tsx
  src/components/Label/Label.tsx
  src/components/Link/Link.tsx
  src/components/MainTable/MainTable.tsx
  src/components/Notification/Notification.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Row/Row.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/Select/Select.tsx
  src/components/Slider/Slider.tsx
  src/components/Strip/Strip.tsx
  src/components/Table/Table.tsx
  src/components/TableCell/TableCell.tsx
  src/components/TableHeader/TableHeader.tsx
  src/components/TableRow/TableRow.tsx
  src/components/Textarea/Textarea.tsx
  src/index.ts
  src/types/index.ts
Labels: Review: Code +1 (with changes), Review: QA +1
