Repository canonical/react-components, pull requests merged in 2021-02, with the labels that each got.

#382 Converted Modal to TS & Added optional header, close button, button row.
  README.md
  package.json
  src/components/Modal/Modal.js
  src/components/Modal/Modal.stories.mdx
  src/components/Modal/Modal.test.js
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.js.snap
  src/components/Modal/modal.scss
  src/index.scss
Labels: Maintenance 🔨, Review: Code +1 (with changes), Review: Code needed, Review: QA +1, Review: QA needed

#385 Use node-12 in docker to fix demos
  Dockerfile
Labels: Review: Code +1

#384 Update ActionButton button to use is-processing classname
  CHANGELOG.md
  src/components/ActionButton/ActionButton.js
  src/components/ActionButton/ActionButton.stories.mdx
  src/components/ActionButton/__snapshots__/ActionButton.test.js.snap
Labels: Review: Code +1, Review: QA +1
