Repository canonical/react-components, pull requests merged in 2022-08, with the labels that each got.

#808 Update the org in the README
  README.md
Labels: Review: Code needed, Review: QA needed

#809 Update Storybook to use webpack v5
  .storybook/main.js
  package.json
  src/components/Navigation/Navigation.test.tsx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#814 upgrade vanilla to v3.7.0
  package.json
  yarn.lock
Labels: Review: Code needed, Maintenance 🔨
