Repository canonical/react-components, pull requests merged in 2022-05, with the labels that each got.

#772 [MainTable] Use conditional operator in onClick
  src/components/MainTable/MainTable.tsx
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#777 fix(List): uneven middot spacing
  src/components/List/List.tsx
Labels: Bug 🐛, Review: QA +1, Review: Code +1 (with changes)

#767 Add Navigation component
  cypress/integration/navigation.spec.js
  src/components/Navigation/Navigation.stories.mdx
  src/components/Navigation/Navigation.test.tsx
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationLink/NavigationLink.test.tsx
  src/components/Navigation/NavigationLink/NavigationLink.tsx
  src/components/Navigation/NavigationLink/index.ts
  src/components/Navigation/NavigationMenu/NavigationMenu.test.tsx
  src/components/Navigation/NavigationMenu/NavigationMenu.tsx
  src/components/Navigation/NavigationMenu/index.ts
  src/components/Navigation/index.ts
  src/components/Navigation/types.ts
  src/components/SearchAndFilter/SearchAndFilter.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/components/SearchBox/SearchBox.tsx
  src/hooks/index.ts
  src/hooks/useClickOutside.test.tsx
  src/hooks/useClickOutside.ts
  src/hooks/useOnEscapePressed.test.tsx
  src/hooks/useOnEscapePressed.ts
  src/index.ts
  src/types/index.ts
Labels: Review: QA +1, Review: Code +1 (with changes)
