Repository canonical/react-components, pull requests merged in 2022-11, with the labels that each got.

#859 feat(ContextualMenu): allow node label
  src/components/ContextualMenu/ContextualMenu.test.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
Labels: Review: Code +1

#828 Migrate Chip to RTL.
  src/components/Chip/Chip.test.tsx
  src/components/Chip/Chip.tsx
  src/components/Chip/__snapshots__/Chip.test.tsx.snap
Labels: Review: Code +1

#843 Update SearchBox to RTL.
  src/components/SearchBox/SearchBox.test.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/SearchBox/__snapshots__/SearchBox.test.tsx.snap
Labels: Review: Code +1 (with changes)

#850 Migrate TableHeader to RTL.
  src/components/TableHeader/TableHeader.test.tsx
  src/components/TableHeader/__snapshots__/TableHeader.test.tsx.snap
Labels: Review: Code +1

#844 Migrate Select to RTL.
  src/components/Select/Select.test.tsx
  src/components/Select/__snapshots__/Select.test.tsx.snap
Labels: Review: Code +1 (with changes)

#851 Migrate TableRow to RTL.
  src/components/TableRow/TableRow.test.tsx
Labels: Review: Code +1

#849 Migrate Table to RTL.
  src/components/Table/Table.test.tsx
  src/components/Table/__snapshots__/Table.test.tsx.snap
Labels: Review: Code needed, Review: Code -1

#845 Migrate Slider to RTL.
  src/components/Slider/Slider.test.tsx
Labels: Review: Code needed

#827 Migrate CheckableInput to RTL.
  src/components/CheckboxInput/CheckableInput/CheckableInput.test.tsx
  src/components/CheckboxInput/CheckableInput/CheckableInput.tsx
Labels: Review: Code +1

#829 Migrate Code to RTL.
  src/components/CodeSnippet/CodeSnippet.test.tsx
Labels: Review: Code +1

#832 Migrate ContextualMenu to RTL.
  src/components/ContextualMenu/ContextualMenu.test.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.test.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/__snapshots__/ContextualMenuDropdown.test.tsx.snap
  src/components/ContextualMenu/__snapshots__/ContextualMenu.test.tsx.snap
Labels: Review: Code +1

#838 Migrate Notification to RTL.
  src/components/Notification/Notification.test.tsx
  src/components/Notification/Notification.tsx
  src/components/Notification/__snapshots__/Notification.test.tsx.snap
Labels: Review: Code +1

#839 Migrate Pagination to RTL.
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/PaginationButton/PaginationButton.tsx
  src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
Labels: Review: Code +1

#840 Migrate PasswordToggle to RTL.
  src/components/PasswordToggle/PasswordToggle.test.tsx
  src/components/PasswordToggle/PasswordToggle.tsx
Labels: Review: Code +1

#842 Migrate SearchAndFilter to RTL.
  src/components/SearchAndFilter/FilterPanelSection/FilterPanelSection.test.tsx
  src/components/SearchAndFilter/FilterPanelSection/__snapshots__/FilterPanelSection.test.tsx.snap
  src/components/SearchAndFilter/SearchAndFilter.test.tsx
  src/components/SearchAndFilter/SearchAndFilter.tsx
  src/components/SearchAndFilter/__snapshots__/SearchAndFilter.test.tsx.snap
Labels: Review: Code +1 (with changes)
