Repository canonical/react-components, pull requests merged in 2022-07, with the labels that each got.

#796 Create badge component
  src/components/Badge/Badge.stories.mdx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/index.ts
Labels: Feature 🎁, Review: Code +1, Review: QA +1

#801 Allow both React v17 and v18 as peer dependency
  package.json
Labels: Review: Code +1, Maintenance 🔨

#803 fix: hide Navigation toggle when there are no items to display
  src/components/Navigation/Navigation.stories.mdx
  src/components/Navigation/Navigation.test.tsx
  src/components/Navigation/Navigation.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)
