Repository canonical/react-components, pull requests merged in 2022-03, with the labels that each got.

#726 test: refactor modular table to testing-library
  src/components/ModularTable/ModularTable.test.tsx
Labels: Review: Code +1

#730 fix: Spinner renders text twice
  src/components/Spinner/Spinner.test.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
Labels: Review: Code +1

#723 feat: customisation of specific headers, rows and cells in ModularTable
  src/components/ModularTable/ModularTable.stories.mdx
  src/components/ModularTable/ModularTable.test.tsx
  src/components/ModularTable/ModularTable.tsx
Labels: Feature 🎁, Review: Code +1

#733 refactor: remove ModularTable strict type
  src/components/ModularTable/ModularTable.test.tsx
  src/components/ModularTable/ModularTable.tsx
Labels: Review: Code +1

#742 Add aria-current to Pagination Item
  src/components/PaginationItem/PaginationItem.test.tsx
  src/components/PaginationItem/PaginationItem.tsx
  src/components/PaginationItem/__snapshots__/PaginationItem.test.tsx.snap
Labels: Review: Code +1, Review: QA +1, Accessibility

#728 Add error and help aria labels to form fields
  src/__mocks__/nanoid.ts
  src/components/Accordion/Accordion.test.tsx
  src/components/AccordionSection/AccordionSection.test.tsx
  src/components/AccordionSection/__snapshots__/AccordionSection.test.tsx.snap
  src/components/Field/Field.test.tsx
  src/components/Field/Field.tsx
  src/components/Form/Form.stories.mdx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/PasswordToggle/PasswordToggle.test.tsx
  src/components/PasswordToggle/PasswordToggle.tsx
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.test.tsx.snap
  src/components/Slider/Slider.test.tsx
  src/components/Slider/Slider.tsx
  src/components/Textarea/Textarea.test.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Textarea/__snapshots__/Textarea.test.tsx.snap
  src/setupTests.js
Labels: Review: Code +1 (with changes)

#741 Improvements to the chip component.
  src/components/Chip/Chip.test.tsx
  src/components/Chip/Chip.tsx
  src/components/Chip/__snapshots__/Chip.test.tsx.snap
Labels: Review: Code +1
