Repository canonical/react-components, pull requests merged in 2022-09, with the labels that each got.

#817 update pagination button type to button
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/PaginationButton/PaginationButton.tsx
  src/components/Pagination/PaginationItem/PaginationItem.tsx
  src/components/Pagination/PaginationItem/__snapshots__/PaginationItem.test.tsx.snap
Labels: Review: Code +1

#819 feat: remove redundant id from useClickOutside
  src/components/Navigation/NavigationMenu/NavigationMenu.tsx
  src/hooks/useClickOutside.test.tsx
  src/hooks/useClickOutside.ts
Labels: Review: Code +1, Review: QA +1

#831 Migrate Col to RTL.
  src/components/Col/Col.test.tsx
  src/components/Col/__snapshots__/Col.test.tsx.snap
Labels: Review: Code +1

#848 Migrate Strip to RTL.
  src/components/Strip/Strip.test.tsx
  src/components/Strip/__snapshots__/Strip.test.tsx.snap
Labels: Review: Code +1

#846 Migrate Spinner to RTL.
  src/components/Spinner/Spinner.test.tsx
  src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
Labels: Review: Code +1

#835 Migrate Link to RTL
  src/components/Label/__snapshots__/Label.test.tsx.snap
  src/components/Link/__snapshots__/Link.test.tsx.snap
Labels: Review: Code +1

#825 Migrate Button to RTL.
  src/components/Button/Button.test.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
Labels: Review: Code +1 (with changes)

#852 Migrate Textarea to RTL.
  src/components/Textarea/Textarea.test.tsx
  src/components/Textarea/__snapshots__/Textarea.test.tsx.snap
Labels: Review: Code +1 (with changes)
