Repository canonical/react-components, pull requests merged in 2023-08, with the labels that each got.

#951 feat: Buttons-only Pagination
  src/components/Pagination/Pagination.stories.mdx
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/PaginationButton/PaginationButton.test.tsx
  src/components/Pagination/PaginationButton/PaginationButton.tsx
  src/components/Pagination/PaginationButton/__snapshots__/PaginationButton.test.tsx.snap
  src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
Labels: Review: QA +1, Review: Code +1 (with changes)

#952 feat: Add autoResetSortBy prop to ModularTable
  src/components/ModularTable/ModularTable.test.tsx
  src/components/ModularTable/ModularTable.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#954 fix: Add documentation for linking with yarn 3
  HACKING.md
Labels: Review: Code needed, Review: QA needed

#955 fix: Remove conditionally the aria-sort attribute and ability to sort from ModularTable
  HACKING.md
  src/components/ModularTable/ModularTable.test.tsx
  src/components/ModularTable/ModularTable.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#956 Prepare 0.45.0 release
  docs/iframe.html
  docs/main.2d4c1842.iframe.bundle.js
  docs/main.e79c8d1a.iframe.bundle.js
  docs/project.json
  package.json
Labels: Maintenance 🔨

#959 Support ReactNode in the CodeSnippet component.
  src/components/CodeSnippet/CodeSnippet.stories.mdx
  src/components/CodeSnippet/CodeSnippet.test.tsx
  src/components/CodeSnippet/CodeSnippetBlock.tsx
Labels: Review: Code +1

#961 Contextual menu scrolling
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.test.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
Labels: Review: Code +1, Review: QA +1

#962 Prepare 0.47.0 release
  docs/project.json
  package.json
Labels: Review: Code +1, Maintenance 🔨

#963 Build docs using GitHub Actions
  .github/workflows/publish-on-release.yml
  .gitignore
  PUBLISH-NPM-PACKAGE.md
  PUBLISHING-DOCS.md
  docs/105.b766f1dc4b9972b231f0.manager.bundle.js
  docs/105.b766f1dc4b9972b231f0.manager.bundle.js.LICENSE.txt
  docs/115.c3e207da.iframe.bundle.js
  docs/115.c3e207da.iframe.bundle.js.LICENSE.txt
  docs/153.eb853e14.iframe.bundle.js
  docs/153.eb853e14.iframe.bundle.js.LICENSE.txt
  docs/229.a8bce99b.iframe.bundle.js
  docs/229.cadb34ae3b1ead656de1.manager.bundle.js
  docs/295.2997ae680b85dc560d08.manager.bundle.js
  docs/51.5b05944c.iframe.bundle.js
  docs/51.5b05944c.iframe.bundle.js.LICENSE.txt
  docs/51.b7e8dbe3f413f86e48a5.manager.bundle.js
  docs/51.b7e8dbe3f413f86e48a5.manager.bundle.js.LICENSE.txt
  docs/551.85f09495.iframe.bundle.js
  docs/551.8f42ed8109d2839de839.manager.bundle.js
  docs/701.d0a53d2a.iframe.bundle.js
  docs/745.16031517.iframe.bundle.js
  docs/807.57e25ee9032e93d55bff.manager.bundle.js
  docs/807.57e25ee9032e93d55bff.manager.bundle.js.LICENSE.txt
  docs/807.f4ece4b7.iframe.bundle.js
  docs/807.f4ece4b7.iframe.bundle.js.LICENSE.txt
  docs/897.25fc07b73416208a1b5d.manager.bundle.js
  docs/897.25fc07b73416208a1b5d.manager.bundle.js.LICENSE.txt
  docs/897.948dac00.iframe.bundle.js
  docs/897.948dac00.iframe.bundle.js.LICENSE.txt
  docs/935.42033ac0.iframe.bundle.js
  docs/935.c6f7f6818410412e792e.manager.bundle.js
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.74b7293e249ee3a1827a.manager.bundle.js
  docs/main.af2e83d2.iframe.bundle.js
  docs/project.json
  docs/runtime~main.3329bbbc.iframe.bundle.js
  docs/runtime~main.3a07389d7f8b7eee4e19.manager.bundle.js
  package.json
  prepare-release
Labels: Maintenance 🔨, Review: Code +1 (with changes)

#965 Separate docs workflow
  .github/workflows/publish-docs.yml
  .github/workflows/publish-on-release.yml
  PUBLISH-NPM-PACKAGE.md
Labels: Review: Code +1
