Repository canonical/react-components, pull requests merged in 2023-07, with the labels that each got.

#931 Add notification provider WD-4256
  package.json
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/Notification/Notification.tsx
  src/components/NotificationProvider/NotificationProvider.test.tsx
  src/components/NotificationProvider/NotificationProvider.tsx
  src/components/NotificationProvider/__snapshots__/NotificationProvider.test.tsx.snap
  src/components/NotificationProvider/index.ts
  src/components/NotificationProvider/messageBuilder.tsx
  src/components/NotificationProvider/types.ts
  src/index.ts
  yarn.lock
Labels: Feature 🎁, Maintenance 🔨, Review: Code +1 (with changes)

#932 Fix ListItem content type conflict
  src/components/List/List.tsx
Labels: Review: Code needed

#935 Update to Vanilla 4.0
  package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨
