Repository canonical/react-components, pull requests merged in 2023-09, with the labels that each got.

#966 Add permissions for deploying to pages.
  .github/workflows/publish-docs.yml
Labels: Review: Code needed

#971 Avoid duplicate first or last page button, when total pages is one above truncateThreshold
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
Labels: Review: QA +1, Review: Code +1 (with changes)

#974 fix: Pressing Esc key closes Modal
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
Labels: Review: Code +1, Review: QA +1

#972 Add docs for the NotificationProvider, useNotify and NotificationConsumer
  src/components/Notification/Notification.stories.mdx
Labels: Review: Code +1, Review: QA +1
