Repository canonical/react-components, pull requests merged in 2023-11, with the labels that each got.

#994 ci: Add PR linting
  .github/workflows/pr-lint.yml
Labels: Review: Code +1

#996 docs: pr conventional commits convention
  HACKING.md
Labels: Review: Code +1 (with changes)

#997 ci: Extend from a default config
  renovate.json
Labels: Review: Code +1

#998 feat: Add tooltip delay(500ms by default) after mouseover
  package.json
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  yarn.lock
Labels: Feature 🎁, Maintenance 🔨

#995 docs: upgrade storybook to v7
  .github/workflows/test.yaml
  .storybook/main.js
  .storybook/preview.js
  cypress/e2e/accordion.cy.js
  package.json
  src/components/ActionButton/ActionButton.stories.mdx
  src/components/Badge/Badge.stories.mdx
  src/components/Button/Button.stories.mdx
  src/components/Card/Card.stories.mdx
  src/components/CheckboxInput/CheckboxInput.stories.mdx
  src/components/CodeSnippet/CodeSnippet.stories.mdx
  src/components/Col/Col.stories.mdx
  src/components/EmptyState/EmptyState.stories.mdx
  src/components/Form/Form.stories.mdx
  src/components/ModularTable/ModularTable.stories.mdx
  src/components/Notification/Notification.stories.mdx
  src/components/RadioInput/RadioInput.stories.mdx
  src/components/StatusLabel/StatusLabel.stories.mdx
  src/components/Strip/Strip.stories.mdx
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨
