Repository canonical/react-components, pull requests merged in 2024-07, with the labels that each got.

#1090 feat: add application layout components
  package.json
  src/components/ApplicationLayout/AppAside/AppAside.stories.tsx
  src/components/ApplicationLayout/AppAside/AppAside.test.tsx
  src/components/ApplicationLayout/AppAside/AppAside.tsx
  src/components/ApplicationLayout/AppAside/index.ts
  src/components/ApplicationLayout/AppMain/AppMain.stories.tsx
  src/components/ApplicationLayout/AppMain/AppMain.test.tsx
  src/components/ApplicationLayout/AppMain/AppMain.tsx
  src/components/ApplicationLayout/AppMain/index.ts
  src/components/ApplicationLayout/AppNavigation/AppNavigation.stories.tsx
  src/components/ApplicationLayout/AppNavigation/AppNavigation.test.tsx
  src/components/ApplicationLayout/AppNavigation/AppNavigation.tsx
  src/components/ApplicationLayout/AppNavigation/index.ts
  src/components/ApplicationLayout/AppNavigationBar/AppNavigationBar.stories.tsx
  src/components/ApplicationLayout/AppNavigationBar/AppNavigationBar.test.tsx
  src/components/ApplicationLayout/AppNavigationBar/AppNavigationBar.tsx
  src/components/ApplicationLayout/AppNavigationBar/index.ts
  src/components/ApplicationLayout/AppStatus/AppStatus.stories.tsx
  src/components/ApplicationLayout/AppStatus/AppStatus.test.tsx
  src/components/ApplicationLayout/AppStatus/AppStatus.tsx
  src/components/ApplicationLayout/AppStatus/index.ts
  src/components/ApplicationLayout/Application/Application.stories.tsx
  src/components/ApplicationLayout/Application/Application.test.tsx
  src/components/ApplicationLayout/Application/Application.tsx
  src/components/ApplicationLayout/Application/index.ts
  src/components/ApplicationLayout/ApplicationLayout.stories.tsx
  src/components/ApplicationLayout/ApplicationLayout.test.tsx
  src/components/ApplicationLayout/ApplicationLayout.tsx
  src/components/ApplicationLayout/index.ts
  src/index.ts
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨, Review: Percy +1

#1105 ci(tics): Don't upload TICS report to artifacts
  .github/workflows/tics-coverage.yml
Labels: Review: Code +1, Review: Percy +1

#1106 fix(app-layout): prevent display of empty app navigation panel
  src/components/ApplicationLayout/ApplicationLayout.stories.tsx
  src/components/ApplicationLayout/ApplicationLayout.test.tsx
  src/components/ApplicationLayout/ApplicationLayout.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1
