Repository canonical/react-components, pull requests merged in 2024-08, with the labels that each got.

#1112 feat: non-string button labels
  src/components/ConfirmationButton/ConfirmationButton.tsx
  src/components/ConfirmationModal/ConfirmationModal.test.tsx
  src/components/ConfirmationModal/ConfirmationModal.tsx
Labels: Review: Code +1, Review: Percy +1

#1111 fix: remove changing title in LoginPageLayout
  src/components/LoginPageLayout/LoginPageLayout.test.tsx
  src/components/LoginPageLayout/LoginPageLayout.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1113 feat: add MultiSelect variations
  HACKING.md
  src/components/Field/Field.tsx
  src/components/MultiSelect/MultiSelect.test.tsx
  src/components/MultiSelect/MultiSelect.tsx
Labels: Review: Code +1, Review: Percy +1

#1117 refactor: replace internals of MultiSelect with ContextualMenu
  src/components/ContextualMenu/ContextualMenu.test.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/MultiSelect/MultiSelect.scss
  src/components/MultiSelect/MultiSelect.test.tsx
  src/components/MultiSelect/MultiSelect.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1115 feat: support not blurring when searching
  src/components/SearchBox/SearchBox.test.tsx
  src/components/SearchBox/SearchBox.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1118 chore: forwardRef from SideNavigationLink component
  src/components/SideNavigation/SideNavigationItem/SideNavigationItem.tsx
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.tsx
Labels: Review: Percy +1

#1119 refactor: update TablePaginationControls to be used outside of TablePagination
  src/components/TablePagination/TablePagination.scss
  src/components/TablePagination/TablePagination.stories.tsx
  src/components/TablePagination/TablePagination.tsx
  src/components/TablePagination/TablePaginationControls/TablePaginationControls.test.tsx
  src/components/TablePagination/TablePaginationControls/TablePaginationControls.tsx
  src/components/TablePagination/__snapshots__/TablePagination.test.tsx.snap
  src/components/TablePagination/utils.tsx
  src/index.ts
Labels: Review: Code +1, Review: Percy +1

#1108 chore(dependencies): Require React 18
  package.json
Labels: Review: Code +1, Maintenance 🔨, Review: Percy +1

#1072 fix(readme): replace semicolon with colon symbols
  README.md
Labels: Review: Percy +1
