Repository canonical/react-components, pull requests merged in 2024-10, with the labels that each got.

#1145 fix(CodeSnippet): Remove iframe from CodeSnippet example
  src/components/CodeSnippet/CodeSnippet.stories.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1143 feat(skip-link): add SkipLink component [WD-15080]
  src/components/ApplicationLayout/ApplicationLayout.tsx
  src/components/SkipLink/SkipLink.stories.tsx
  src/components/SkipLink/SkipLink.test.tsx
  src/components/SkipLink/SkipLink.tsx
  src/components/SkipLink/index.ts
  src/index.ts
Labels: Review: Code +1, Review: QA +1, Breaking change 💣, Review: Percy +1

#1134 feat: add stepper and step components
  src/components/Stepper/Step/Step.scss
  src/components/Stepper/Step/Step.stories.tsx
  src/components/Stepper/Step/Step.test.tsx
  src/components/Stepper/Step/Step.tsx
  src/components/Stepper/Step/index.tsx
  src/components/Stepper/Stepper.stories.tsx
  src/components/Stepper/Stepper.test.tsx
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/__snapshots__/Stepper.test.tsx.snap
  src/components/Stepper/index.ts
  src/index.ts
Labels: Review: Code +1, Review: Percy needed

#1128 feat: Upstream Doughnut Chart to RC
  src/components/DoughnutChart/DoughnutChart.scss
  src/components/DoughnutChart/DoughnutChart.stories.tsx
  src/components/DoughnutChart/DoughnutChart.test.tsx
  src/components/DoughnutChart/DoughnutChart.tsx
  src/components/DoughnutChart/index.ts
  src/index.ts
Labels: Review: Code +1, Review: QA +1, Review: A11y +1, Review: Percy +1

#1150 chore(dependencies): Vanilla update to latest version (with sass)
  package.json
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#1151 docs(storybook): Theming support for stories
  .storybook/addons/withTheme.css
  .storybook/addons/withTheme.jsx
  .storybook/preview.js
Labels: Review: Code +1, Review: QA +1
