Repository canonical/react-components, pull requests merged in 2024-03, with the labels that each got.

#1048 docs: Update Col component size in Col.stories
  src/components/Col/Col.stories.mdx
Labels: Review: Code +1, Review: QA +1

#993 fix(deps): Added missing lodash/isequal dep
  package.json
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨

#1052 fix(MultiSelect): Apply a temporary fix for Vanilla includes in MultiSelect component
  package.json
  src/components/Icon/Icon.stories.scss
  src/components/MultiSelect/MultiSelect.scss
  yarn.lock
Labels: Review: QA +1, Maintenance 🔨, Review: Code +1 (with changes)

#1054 feat: upstream FormikField
  HACKING.md
  package.json
  src/components/Card/Card.stories.tsx
  src/components/FormikField/FormikField.stories.tsx
  src/components/FormikField/FormikField.test.tsx
  src/components/FormikField/FormikField.tsx
  src/components/FormikField/index.ts
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/TablePagination/TablePaginationControls/__snapshots__/TablePaginationControls.test.tsx.snap
  src/components/TablePagination/__snapshots__/TablePagination.test.tsx.snap
  src/index.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#1058 fix: stop click event propagation in Modal
  src/components/ConfirmationModal/ConfirmationModal.test.tsx
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
Labels: Review: Code +1, Review: QA +1
