Repository canonical/react-components, pull requests merged in 2024-09, with the labels that each got.

#1085 test: fix deprecated act usage warning
  src/components/ActionButton/ActionButton.test.tsx
  src/components/NotificationProvider/NotificationProvider.test.tsx
Labels: Review: Code +1, Review: Percy +1

#1123 fix: forwardRef from SideNavigationLink component
  src/components/SideNavigation/SideNavigationItem/SideNavigationItem.tsx
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.test.tsx
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.tsx
Labels: Review: Code +1, Review: Percy +1

#1093 fix: search and filter panel no longer opens when dismissing a filter
  src/components/Chip/Chip.tsx
  src/components/SearchAndFilter/SearchAndFilter.test.tsx
  src/components/SearchAndFilter/SearchAndFilter.tsx
Labels: Bug 🐛, Review: Code +1, Review: QA +1, Review: UX +1, Review: Percy +1

#1130 fix(side nav): Pass ref to SideNavBase and write a test
  src/components/SideNavigation/SideNavigationBase/SideNavigationBase.tsx
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.test.tsx
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.tsx
Labels: Review: Percy needed, Review: Percy +1

#1132 fix: fix highlightSubstring not being able to handle special characters for regex
  src/utils.test.ts
  src/utils.ts
Labels: Review: Code needed, Review: QA needed, Review: Percy +1

#1133 fix: Update SideNavigationLink component's prop type
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.test.tsx
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1124 build: allow typescript to run on tests
  package.json
  tsconfig.build.json
  tsconfig.json
Labels: Review: Code +1, Maintenance 🔨, Review: Percy +1

#1138 feat: Fixing readme (to trigger the release of ESM)
  README.md
Labels: Review: Percy +1

#1139 fix: include new build files
  package.json
Labels: Review: Code +1, Maintenance 🔨, Review: Percy +1

#1140 chore(ci): Remove unnecessary Percy label CI check
  .github/workflows/pr-labels.yml
Labels: Review: Code needed, Review: Percy +1

#1141 fix: Fix broken type declarations downstream imports
  .babelrc
  .gitignore
  .storybook/main.js
  babel.config.js
  package.json
Labels: Bug 🐛, Review: QA needed, Review: Code +1, Review: Percy +1
