Repository canonical/react-components, pull requests merged in 2024-05, with the labels that each got.

#1084 ci: Update Percy label workflow to make it work on forks
  .github/workflows/pr-labels.yml
Labels: Review: Code needed

#1082 feat: allow focusing disabled buttons and displaying tooltips
  src/components/Button/Button.stories.mdx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/ContextualMenu/ContextualMenu.test.tsx
  src/components/TablePagination/__snapshots__/TablePagination.test.tsx.snap
Labels: Review: Code +1, Review: QA +1, Accessibility, Review: Percy +1

#1076 fix: make EmptyState implementation consistent with Vanilla Framework
  src/components/EmptyState/EmptyState.stories.mdx
  src/components/EmptyState/EmptyState.test.tsx
  src/components/EmptyState/EmptyState.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1087 ci: Add GitHub action to upload TICS report to TIOBE
  .github/workflows/tics-coverage.yml
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1086 docs: Add section to README to list related projects
  README.md
Labels: Review: Code +1, Review: Percy +1

#1092 fix: Getting started page error & update its GH links
  src/docs/getting-started.stories.mdx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1094 feat: Add LoginPageLayout component
  src/components/LoginPageLayout/LoginPageLayout.scss
  src/components/LoginPageLayout/LoginPageLayout.stories.mdx
  src/components/LoginPageLayout/LoginPageLayout.tsx
  src/components/LoginPageLayout/index.ts
  src/index.ts
Labels: Review: Percy +1
