Repository canonical/react-components, pull requests merged in 2024-01, with the labels that each got.

#1012 fix: input label without specifying id
  src/components/Field/Field.test.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
Labels: Review: Code +1, Review: QA +1, Accessibility

#1013 feat: upstream generic pagination component for tables [WD-4258]
  src/components/TablePagination/TablePagination.scss
  src/components/TablePagination/TablePagination.stories.mdx
  src/components/TablePagination/TablePagination.test.tsx
  src/components/TablePagination/TablePagination.tsx
  src/components/TablePagination/TablePaginationControls/TablePaginationControls.test.tsx
  src/components/TablePagination/TablePaginationControls/TablePaginationControls.tsx
  src/components/TablePagination/TablePaginationControls/__snapshots__/TablePaginationControls.test.tsx.snap
  src/components/TablePagination/TablePaginationControls/index.ts
  src/components/TablePagination/__snapshots__/TablePagination.test.tsx.snap
  src/components/TablePagination/index.ts
  src/index.ts
Labels: Review: Code +1, Review: QA +1

#999 fix(modal): do not scroll content when opened
  src/components/Modal/Modal.tsx
Labels: Review: Code needed, Review: QA needed

#1019 chore: release 0.47.2
  package.json
Labels: Maintenance 🔨

#1023 chore: release 0.47.3
  package.json
Labels: Maintenance 🔨

#1024 ci: setup semantic-release and fix cypress tests
  .github/workflows/publish-docs.yml
  .github/workflows/publish-on-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test.yaml
  .releaserc
  PUBLISH-NPM-PACKAGE.md
  README.md
  commitlint.config.js
  package.json
  yarn.lock
Labels: Maintenance 🔨

#1028 docs: remove cypress badge
  README.md
Labels: Review: Code needed

#1025 chore(deps): incremental update dependencies flagged by renovate [WD-8376]
  .eslintrc.js
  .github/workflows/labeler.yaml
  .github/workflows/test.yaml
  .stylelintrc.json
  Dockerfile
  package.json
  src/components/ActionButton/ActionButton.test.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.test.tsx
  src/components/Notification/Notification.test.tsx
  src/components/TablePagination/TablePagination.test.tsx
  src/components/TablePagination/TablePaginationControls/__snapshots__/TablePaginationControls.test.tsx.snap
  src/components/Tooltip/Tooltip.test.tsx
  src/hooks/useThrottle.test.ts
  src/hooks/useWindowFitment.test.ts
  src/types/react-table-config.d.ts
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨

#1009 feat: adjust contextual dropdown vertical position
  src/components/ContextualMenu/ContextualMenu.stories.mdx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
Labels: Review: Code +1, Review: QA +1
