Repository canonical/react-components, pull requests merged in 2024-04, with the labels that each got.

#1062 fix: tooltip open
  src/components/Tooltip/Tooltip.tsx
Labels: Review: Code +1, Review: QA +1

#1056 ci: Require the review of Percy visual tests
  .github/labeler.yml
  .github/workflows/pr-labels.yml
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1063 fix(field): remove bold prefix for error/caution/success validation
  src/components/Field/Field.test.tsx
  src/components/Field/Field.tsx
  src/components/FormikField/FormikField.test.tsx
  src/components/Input/Input.test.tsx
  src/components/PasswordToggle/PasswordToggle.test.tsx
  src/components/Select/Select.test.tsx
  src/components/Slider/Slider.test.tsx
  src/components/Textarea/Textarea.test.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1066 fix(pr-template): add percy steps to template, to aid percy review
  .github/pull_request_template.md
Labels: Review: Code needed

#1065 fix(searchbox): handle Enter key in the input field to search + blur
  src/components/SearchBox/SearchBox.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1070 fix(textarea): reset value to an empty string
  src/components/Textarea/Textarea.test.tsx
  src/components/Textarea/Textarea.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy +1

#1074 fix: tooltip should not reopen when target element is not hovered anymore
  src/components/Tooltip/Tooltip.tsx
Labels: Review: QA +1, Review: Code +1 (with changes), Review: Percy +1

#1075 feat: allow loading and disable state for confirm button in ConfirmationModal
  src/components/ConfirmationModal/ConfirmationModal.tsx
Labels: Review: Code +1, Review: Percy +1
