Repository canonical/react-components, pull requests merged in 2025-07, with the labels that each got.

#1218 chore(Percy): fix Puppeteer dependency installation failing
  .circleci/config.yml
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨, dependencies

#1216 fix: set type button on modal close buttons
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/Modal/Modal.tsx
Labels: Review: Code +1, Review: Percy needed

#1220 fix(step): use vanilla theme colors for stepper component
  src/components/Stepper/Step/Step.scss
Labels: Review: Code needed, Review: QA needed, Review: Percy needed

#1221 fix(toast): ensure toast notifications are shown above side panels
  src/components/Notifications/ToastNotification/Toast.scss
Labels: Review: Code +1, Review: Percy needed

#1223 fix(step): inherit stepper's width for steps
  src/components/Stepper/Step/Step.scss
  src/components/Stepper/Stepper.stories.tsx
Labels: Review: Code +1, Review: QA +1

#1226 feat(sidepanel): add sidepanel component WD-23500
  src/components/SidePanel/SidePanel.scss
  src/components/SidePanel/SidePanel.stories.tsx
  src/components/SidePanel/SidePanel.test.tsx
  src/components/SidePanel/SidePanel.tsx
  src/components/SidePanel/__snapshots__/SidePanel.test.tsx.snap
  src/components/SidePanel/common/Content.tsx
  src/components/SidePanel/common/Footer.tsx
  src/components/SidePanel/common/Header.tsx
  src/components/SidePanel/common/HeaderControls.tsx
  src/components/SidePanel/common/HeaderTitle.tsx
  src/components/SidePanel/common/Sticky.tsx
  src/components/SidePanel/index.ts
  src/index.ts
Labels: Review: Code +1, Review: QA +1, Review: Percy needed

#1229 fix(sidepanel): default size of sidepanel to be standard, allow for narrow and wide sizes
  src/components/SidePanel/SidePanel.stories.tsx
  src/components/SidePanel/SidePanel.test.tsx
  src/components/SidePanel/SidePanel.tsx
  src/components/SidePanel/__snapshots__/SidePanel.test.tsx.snap
Labels: Review: QA +1, Review: Code +1 (with changes), Review: Percy needed

#1230 feat(theme-switcher): add new component to apply dark and light theme and switch between them easily
  src/components/ThemeSwitcher/ThemeSwitcher.stories.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.test.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ThemeSwitcher/__snapshots__/ThemeSwitcher.test.tsx.snap
  src/components/ThemeSwitcher/index.ts
  src/index.ts
Labels: Review: Code +1, Review: QA +1, Review: Percy needed

#1217 feat: support new chip variants (read-only, icon, badged), deprecate StatusLabel
  src/components/Chip/Chip.stories.tsx
  src/components/Chip/Chip.test.tsx
  src/components/Chip/Chip.tsx
  src/components/StatusLabel/StatusLabel.tsx
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨, Review: Percy +1
