Repository canonical/react-components, pull requests merged in 2025-04, with the labels that each got.

#1194 chore(TICS): Migrate to new org TICS token
  .github/workflows/tics-coverage.yml
Labels: Review: Code needed, Review: QA needed, Maintenance 🔨

#1195 fix: dynamically set label to match id
  src/components/CustomSelect/CustomSelectDropdown/__snapshots__/CustomSelectDropdown.test.tsx.snap
  src/components/SearchBox/SearchBox.tsx
Labels: Bug 🐛, Review: Code +1, Review: QA +1, Accessibility, Review: Percy +1

#1196 fix: add hidden text to resolve empty header accessibility error
  src/components/MainTable/MainTable.tsx
Labels: Review: Code +1, Review: Percy needed

#1197 fix(a11y): add label to number input in slider
  src/components/Slider/Slider.tsx
Labels: Review: QA needed, Review: Code +1, Accessibility, Review: Percy needed
