Repository canonical/react-components, pull requests merged in 2025-05, with the labels that each got.

#1199 feat: add toast notification provider
  src/components/NotificationProvider/NotificationProvider.tsx
  src/components/NotificationProvider/messageBuilder.tsx
  src/components/NotificationProvider/types.ts
  src/components/Notifications/Notification/Notification.stories.tsx
  src/components/Notifications/Notification/Notification.test.tsx
  src/components/Notifications/Notification/Notification.tsx
  src/components/Notifications/Notification/__snapshots__/Notification.test.tsx.snap
  src/components/Notifications/Notification/index.ts
  src/components/Notifications/ToastNotification/Animate.tsx
  src/components/Notifications/ToastNotification/Toast.scss
  src/components/Notifications/ToastNotification/ToastNotification.stories.tsx
  src/components/Notifications/ToastNotification/ToastNotification.test.tsx
  src/components/Notifications/ToastNotification/ToastNotification.tsx
  src/components/Notifications/ToastNotification/ToastNotificationList.tsx
  src/components/Notifications/ToastNotification/ToastNotificationProvider.tsx
  src/components/Notifications/ToastNotification/index.ts
  src/components/Notifications/index.ts
  src/hooks/index.ts
  src/hooks/usePrefersReducedMotion.test.ts
  src/hooks/usePrefersReducedMotion.ts
  src/index.test.ts
  src/index.ts
Labels: Review: Code needed, Review: QA needed, Review: Percy needed

#1203 fix: remove information icon customization
  src/components/Notifications/ToastNotification/Animate.tsx
  src/components/Notifications/ToastNotification/Toast.scss
  src/components/Notifications/ToastNotification/ToastNotification.stories.tsx
  src/components/Notifications/ToastNotification/ToastNotificationList.tsx
  src/components/Notifications/ToastNotification/ToastNotificationProvider.tsx
Labels: Review: Code needed, Review: QA needed, Review: Percy needed

#1201 feat: add event queue
  src/components/EventQueue/EventQueue.tsx
  src/components/EventQueue/EventQueueProvider.test.tsx
  src/components/EventQueue/index.ts
  src/index.test.ts
  src/index.ts
Labels: Review: Code +1, Review: Percy needed

#1202 feat: add help text to switch component
  src/components/Stepper/Step/Step.scss
  src/components/Switch/Switch.scss
  src/components/Switch/Switch.stories.tsx
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy needed

#1204 fix(toast): improve mobile compatibility by using dvh unit instead of vh
  src/components/Notifications/ToastNotification/Toast.scss
Labels: Review: Code needed, Review: Percy needed
