Repository canonical/react-components, pull requests merged in 2025-02, with the labels that each got.

#1177 feat: prevent modal from closing when clicking outside
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
Labels: Review: Code needed, Review: QA needed, Review: Percy needed

#1182 chore(lint): ignore lint errors from externals
  eslint.config.mjs
Labels: Review: Code needed

#1127 refactor: add types for implicit any cases
  src/components/Accordion/Accordion.tsx
  src/components/Card/Card.stories.tsx
  src/components/CodeSnippet/CodeSnippet.stories.tsx
  src/components/Col/Col.stories.tsx
  src/components/ContextualMenu/ContextualMenu.stories.tsx
  src/components/ContextualMenu/ContextualMenu.tsx
  src/components/ContextualMenu/ContextualMenuDropdown/ContextualMenuDropdown.tsx
  src/components/MainTable/MainTable.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/ModularTable/ModularTable.stories.tsx
  src/components/Navigation/Navigation.tsx
  src/components/SearchAndFilter/FilterPanelSection/FilterPanelSection.tsx
  src/components/SearchAndFilter/SearchAndFilter.tsx
  src/components/SearchAndFilter/utils.tsx
  src/components/SideNavigation/SideNavigation.tsx
  src/components/SideNavigation/SideNavigationLink/SideNavigationLink.stories.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Tabs/Tabs.test.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/Tooltip.tsx
  src/hooks/useOnEscapePressed.ts
  src/hooks/useThrottle.ts
  src/hooks/useWindowFitment.ts
  src/index.test.ts
  tsconfig.json
Labels: Review: Code +1, Review: Percy needed, Review: Percy +1

#1179 chore(deps): replace deprecated deps
  babel.config.js
  package.json
  src/components/NotificationProvider/NotificationProvider.tsx
  yarn.lock
Labels: Review: Code +1, Maintenance 🔨, Review: Percy needed, Review: Percy +1

#1183 refactor(Notification): Add type="button" and allow passing in ReactNode to Notification Actions
  src/components/Notification/Notification.test.tsx
  src/components/Notification/Notification.tsx
  src/components/NotificationProvider/__snapshots__/NotificationProvider.test.tsx.snap
Labels: Review: Code +1 (with changes), Review: Percy +1
