Repository canonical/react-components, pull requests merged in 2025-06, with the labels that each got.

#1206 fix: reset filters when all filtered notifications are closed
  src/components/Notifications/ToastNotification/ToastNotificationList.tsx
Labels: Review: Code +1, Review: QA +1, Review: Percy needed

#1210 fix: table-pagination to encounter more space to fit content
  package.json
  src/components/TablePagination/TablePagination.scss
  yarn.lock
Labels: Review: Code +1, Review: QA +1, Maintenance 🔨, Review: Percy +1

#1211 fix: table-pagination on small screens. adjust spacing and avoid line breaks
  src/components/TablePagination/TablePagination.scss
  src/components/TablePagination/TablePaginationControls/TablePaginationControls.tsx
  src/components/TablePagination/__snapshots__/TablePagination.test.tsx.snap
Labels: Review: Code +1, Review: QA +1, Review: Percy needed

#1213 fix: disable input controls when there is only one page in TablePagination
  src/components/TablePagination/TablePaginationControls/TablePaginationControls.test.tsx
  src/components/TablePagination/TablePaginationControls/TablePaginationControls.tsx
  src/components/TablePagination/TablePaginationControls/__snapshots__/TablePaginationControls.test.tsx.snap
  src/components/TablePagination/__snapshots__/TablePagination.test.tsx.snap
Labels: Review: Percy needed
